.donateCards {
  display: flex;
  justify-content: center; /* Change this */
  flex-wrap: wrap;
  width: 100%;
}

.orgCard {
  padding: 20px;
}

.donatebg {
  background-color: #f9f9f9;
  padding-bottom: 120px;
}
