@font-face {
  font-family: "Circular Std";
  src: local("Circular Std"), url("../../assets/fonts/Circular-Std-Book.ttf");
}

.text {
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
}
