.signout {
  width: 182px;
  height: 41px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #fff;
  vertical-align: middle;

  background: #437f55;
  border-radius: 50px;
  border: none;
  margin-top: 55px;
  margin-bottom: 120px;
}
