.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 40px;
}
.containers {
  justify-content: flex-start;
  align-items: flex-end; /* NEW */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
}
.checkout-total {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
  padding-top: 10px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}
