@font-face {
  font-family: "Recoleta Alt";
  src: local("Recoleta Alt"), url("../../assets/fonts/RecoletaAlt-Medium.ttf");
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std"), url("../../assets/fonts/Circular-Std-Book.ttf");
}

html {
  font-size: 12px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0rem;
  color: #bdbdbd;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #bdbdbd;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

.imgandtext {
  position: relative;
}

.image-text {
  font-family: Recoleta Alt;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  padding-top: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  color: #fff;
}

.dialogRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0rem;
}

.signupButton {
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 5px 20px;
  border: none;
}

.columnLrg {
  flex: 60%;
}

.container {
  margin: 5rem;
  text-align: left;
  font-family: Circular Std;
}

.MuiDialogTitle-root {
  padding: 0;
}

h2.MuiTypography-h6 {
  font-family: Recoleta Alt;
  font-size: 2rem;
}

p.MuiDialogContentText-root,
label.MuiFormLabel-root,
.MuiButton-label,
.separator {
  font-family: Circular Std;
}

p.MuiDialogContentText-root {
  color: #777777;
}

.MuiOutlinedInput-root {
  margin: 1rem 1rem 1rem 0rem;
}

.MuiButton-label {
  text-transform: none;
}

.MuiButton-contained.Mui-disabled {
  opacity: 0.5;
}

.dialogImg {
  height: 500px;
  width: 100%;
  border-radius: 30px;
}

.columnSml {
  height: 100%;
  flex: 40%;
  margin-right: 4rem;
}

a {
  color: #437f55;
}
