.rectangle {
  width: 80%;
  height: 10%;
  margin-top: 0px;
  border-radius: 20px;
  justify-content: center;
}

.image-step {
  height: 2.05%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.containerg {
  margin-top: 40px;
  background-color: #F9F9F9;
  border-radius: 30px;
  padding-bottom: 100px;
  padding-top: 40px;
  justify-content: center;
  margin-left: 9%;
  margin-right: 9%;
}

.step-impact {
  width: 50%;
  margin-left: 24%;
  text-align: center;
  font-family: Recoleta Alt;
  font-size: 32px;
  color: #202020;
  margin-bottom: 4%;
  margin-top: 20px;
}

.step-subtitle {
  width: 100%;
  text-align: center;
  font-family: Circular Std;
  font-size: 24px;
  line-height: 44px;
  color: #777777;
}

.step-number {
  width: 100%;
  text-align: center;
  font-family: Recoleta Alt;
  font-size: 14px;
  color: #828282;
}

.step-title {
  width: 100%;
  text-align: center;
  font-family: Recoleta Alt;
  font-size: 18px;
  color: #202020;
}

.step-explain {
  width: 100%;
  text-align: center;
  font-family: Circular Std;
  font-size: 16px;
  color: #202020;
}

.grid2 {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 70% 10% 17% 40%;
  align-items: baseline;
  margin-left: 17%;
  margin-right: 10%;
  grid-column-gap: 30px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

.grey-steps {
  width: 100%;
  height: 791%;
  padding: 0;
  border: none;
  border-radius: 30px;
}

.grey-steps-div {
  height: 7%;
  display: flex;
  width: 85%;
  padding-top: 100px;
  margin-left: 8%;
  margin-right: 10%;
}