@font-face {
  font-family: "Recoleta Alt";
  src: local("Recoleta Alt"), url("../../assets/fonts/RecoletaAlt-Medium.ttf");
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std"), url("../../assets/fonts/Circular-Std-Book.ttf");
}

.footer {
  padding-bottom: 100px;
}

.body {
  margin-top: 60px;
  display: flex;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  justify-content: space-between;
}

.logo {
  margin-top: 1vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 49vw;
  margin-left: 1vw;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 20vw;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 30vw;
}

.header {
  font-family: Recoleta Alt;
  font-size: 18px;
  font-weight: 500;
}

.logo-text {
  font-family: Recoleta Alt;
  font-size: 20px;
  font-weight: 100;
  text-align: start;
}

.regular {
  font-family: Circular Std;
  font-size: 16;
  margin-top: 0.1vw;
  margin-bottom: 0.4vw;
  color: #000000;
}
